html {
  overflow-y: hidden;
}

.response-container {
  text-align: center;
  width: 50%;
  min-width: 400px;
}

.response-container .button {
  margin-top: 20px;
  height: 75px;
  white-space: unset;
  text-align: center;
}

.level-data {
  width: 100%;
  display: block;
  margin-bottom: 30px;
  height: 30px;
  font-size: 25px;
}
.timer {
  float: right;
  min-width: 60px;
  display: flex;
  justify-content: space-between;
}

.fa-clock {
  display: flex;
  align-items: center;
}

.stats {
  float: left;
}

.hero-body {
  padding-top: 0 !important;
  overflow-y: auto;
}

.level .title {
  font-size: 20px;
}

.response-container .subtitle {
  font-size: 28px;
}

html,
body,
section,
.hero-body {
  height: 100%;
}

.positive-points {
  color: #ffdc00;
}
.no-points {
  color: #ffffff;
}

.negative-points {
  color: #ff4136;
}

.hide {
  display: none;
}

.show {
  display: garbage;
}

#question-mount {
  padding-bottom: 60px;
}

.banner-container {
  text-align: center;
  margin-bottom: 20vh;
}

.banner-title {
  font-size: 50px;
}

.result-container {
  text-align: center;
  margin-bottom: 20vh;
}

.points-color {
  color: #111111;
  font-size: 75px;
}

.results-subtitle {
  font-size: 30px;
}

.try-again-btn {
  font-size: 30px;
}

.repo-link {
  margin: 10px;
  font-size: 20px;
  color: white;
}

.repo-link:hover {
  color: lightgray;
}

.select {
  font-size: 25px;
}

.start-game-btn {
  font-size: 25px;
}
